{:source-paths ["src"]

 :dependencies [[cider/cider-nrepl "0.22.4"]
                [reagent "0.9.0-rc2"]]

 :nrepl {:port 3333}

 :builds
 {:app
  {:target :react-native
   :init-fn reclojure.app/init
   :output-dir "target"
   :compiler-options {:infer-externs :auto
                      :pseudo-names true
                      :source-map true}
   :devtools {:repl-init-ns reclojure.app
              :repl-pprint true}}}}
